/* Org-HTML-Slideshow projection styles.
 *
 * These styles will apply only to the slide-show view.
 */

html {
   zoom: 10%;
}

img {
   max-height: 700px;
}

.bigcode pre {
   zoom: 50%;
}

.mediumcode pre {
   zoom: 80%;
}

@media all and (min-width:400px) {
   html {
      zoom: 25%;
   }
}

@media all and (min-width:470px) {
   html {
      zoom: 35%;
   }
}

@media all and (min-width:600px) {
   html {
      zoom:45%;
   }
}

@media all and (min-width:700px) {
   html {
      zoom: 50%;
   }
}

@media all and (min-width:800px) {
   html {
      zoom:60%;
   }
}

@media all and (min-width:1200px) {
   html {
      zoom:75%;
   }
}

@media all and (min-width:1400px) {
   html {
      zoom:100%;
   }
}

body {
   margin: 18pt;
   font-size: 24pt;
}

/* Use all headings as slide titles, regardless of level. */
h1,h2,h3,h4,h5,h6,h7,h8 {
   font-size: 48pt;
   margin: 18pt;
   text-align: center;
}

li {
   margin: 12pt;
}

/* Center embedded images. */
p.image {
   text-align: center;
}

/* Hide Org-Mode tags in slide-show view. */
span.tag {
   display: none;
}

/* Hide Org-Mode section numbers in slide-show view. */
span.section-number-1,span.section-number-2,span.section-number-3,span.section-number-4,span.section-number-5,span.section-number-6,span.section-number-7,span.section-number-8 {
   display: none;
}

.blue_background {
   background: blue;
   color: white;
}
